@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');


* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 500;
}

header {
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FAFAFA;
    z-index: 20;
}

header .logo {
    width: 122px;
    height: 120px;
}

header .logo img {
    max-height: 100%;
    width: auto;
}


.menu-nav nav ul {
    display: flex;
    align-items: center;
}

.menu-nav nav ul li {
    list-style: none;
    margin-left: 100px;
    font-size: 20px;
}

.menu-nav nav ul .section-menu a {
    text-decoration: none;
    color: #0B1522;
}

.menu-nav nav ul li a:hover {
    text-decoration: underline;
}

.btn-contact {
    color: #fff;
    background-color: #395E7F;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-contact:hover {
    text-decoration: underline;
}


.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(42, 41, 41, 0.5), rgba(42, 41, 41, 0.5)), url("../img/woman-architect-analysing-matching-blueprints-new-building-project-sitting-desk.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-presentation {
    margin-left: 50px;
}

.home-presentation h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    line-height: 65.47px;
}

.home-presentation .home-title {
    background-color: #193151;
    border-radius: 30px;
    width: fit-content;
    padding: 10px 42px;
    margin-bottom: 40px;
}

.agency {
    display: flex;
    align-items: center;
}

.agency div {
    width: 100%;
}

.agency-presentation {
    padding: 60px;
}

.agency-presentation h1 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 49.1px;
}

.agency-presentation p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
}

.container-img-agency {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
    max-width: 500px;
    margin-top: 60px;
    margin-right: 60px;
}

.container-img-agency img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    margin: 20px;
}


.recommandations-presentation {
    text-align: center;
}

.recommandations-presentation p {
    margin: 20px;
}

.recommandations-presentation .title1 {
    font-size: 24px;
    line-height: 32.74px;
}

.recommandations-presentation .title2 {
    font-size: 36px;
    line-height: 49.1px;
}


.slideshow-container {
    background-color: #ECF1F5;
    position: relative;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #000;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.container-testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.container-testimonial .logo-testimonial {
    width: 100%;
    height: auto;
}

.container-testimonial .logo-testimonial img {
    max-width: 100%;
    height: auto;
}

.title-testimonial {
    text-align: left;
    font-family: "Esteban", serif;
    color: #395E7F;
    margin-bottom: 20px;
}

.container-footer {
    width: 100%;
    margin-top: 10%;
    background-color: #193151;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    color: #fff;
    font-size: 24px;
}

.line-footer {
    width: 3px;
    height: auto;
    background-color: #fff;
    margin: 30px;
}

.container-footer .info1-footer,
.container-footer .info2-footer,
.container-footer .info3-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.btn-social-medias {
    margin-top: 20px;
}

.btn-social-medias a {
    color: #fff;
    font-size: 35px;
    margin-right: 10px;
}

.container-footer .info2-footer div {
    margin-bottom: 30px;
}

.contact-description a {
    color: #fff;
}


.container-footer .info3-footer .menu-footer li a {
    color: #fff;
}

.newsletter {
    margin-top: 20px;
}

.newsletter input {
    background-color: #E5F4FE;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: #E5F4FE;
}

.newsletter .submit-newsletter {
    position: absolute;
    margin-top: 2px;
    margin-left: -5px;
    padding: 5px;
    background-color: #395E7F;
    border: #395E7F;
    color: #fff;
    font-size: 20px;
}


.burger-menu {
    display: none;
    /* Masquer le menu burger par défaut */
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

h2,
h3 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

/* Section Expertise */

.hover-img {
    display: flex;
    width: 100%;
    height: 500px;
}

.hover-img img,
#logo-partners img,
#contact img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hover-img img:hover {
    background-color: #193151B2;
    opacity: 0.7;
    transition: ease-in 0.5s;
}

/* Section Clients */
/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(38, 92%, 58%);
    --first-color-light: hsl(38, 100%, 78%);
    --first-color-alt: hsl(32, 75%, 50%);
    --second-color: hsl(195, 75%, 52%);
    --dark-color: hsl(212, 40%, 12%);
    --white-color: hsl(212, 4%, 95%);
    --body-color: hsl(212, 42%, 15%);
    --container-color: hsl(212, 42%, 20%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Bai Jamjuree", sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
}

/*=============== BASE ===============*/


.container img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== CARD ===============*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    margin: 5% 0% 5% 13%;
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    width: 75%;
}

.card__container {
    padding-block: 5rem;
}

.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__article {
    width: 300px;
    overflow: hidden;
}

.card__image {
    position: relative;
    margin-bottom: -.75rem;
}

.card__data {
    background-color: #E5F4FE;
    padding: 1.5rem 2rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.card__img {
    width: 100%;
    position: relative;
    z-index: 5;
}

.card__name {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: .75rem;
}

.card__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.card__button {
    display: inline-block;
    background-color: var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--second-color);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: hsl(212, 32%, 40%);
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: var(--second-color);
}

#customers {
    margin-top: 3%;
}

#logo-partners {
    display: flex;
    width: 100%;
    height: 550px;
    margin-top: 4%;
}

#text-partners-div {
    padding: 0% 3% 0% 3%;
}

#text-partners {
    display: flex;
    width: 100%;
    padding: 3%;
    background-color: #ABC8E1;
}

#stat {
    margin-top: 5%;
    background-color: #193151;
    color: #fff;
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: space-evenly;
}

#stat div {
    padding: 2%;
}

#stat h2 {
    font-size: 40px;
}

#stat p {
    font-size: 30px;
    margin-top: 3%;
    text-align: center;
}

/* Section Contact */

#contact {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 5%;
}

form {
    width: 100%;
}
#form {
    margin-left: 20%;
}

#message {
    width: 100%;
    height: 40px;
    background-color: #E5F4FE;
}

.myForm {
    display: flex;
}

.myForm input,
#mail {
    width: 300px;
    height: 40px;
    background-color: #E5F4FE;
}

.leftPart {
    margin-right: 20%;
}

#submitButton {
    margin-top: 5%;
    margin-left: 67%;
    color: #fff;
    border: #395E7F;
    background-color: #395E7F;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 15px;
}

.myForm,
#mailDiv {
    margin-bottom: 2%;
}



/* Média Query */

/* Format Mobile */

@media screen and (max-width: 768px) {

    h2,
    h3 {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    .hover-img {
        display: flex;
        width: 100%;
        height: 100px;
    }

    #stat {
        height: 200px;
    }

    #stat h2 {
        font-size: 30px;
    }

    #stat div {
        margin-top: 10%;
    }

    #stat p {
        font-size: 15px;
        margin-top: 3%;
        text-align: center;
    }

    #contact {
        display: block;
        width: 100%;
    }

    #message {
        width: 75%;
        height: 30px;
        background-color: #E5F4FE;
    }

    #mail {
        width: 32%;
        height: 30px;
        background-color: #E5F4FE;
    }

    .myForm input {
        width: 100%;
        height: 30px;
        background-color: #E5F4FE;
    }

    .leftPart {
        margin-right: 10%;
    }

    #submitButton {
        margin-top: 5%;
        margin-left: 53%;
        color: #fff;
        border: #395E7F;
        background-color: #395E7F;
        border-radius: 5px;
        width: 100px;
        height: 50px;
        font-size: 15px;
    }

    .card__content {
        margin-inline: 3rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        z-index: 20;
    }

    header .logo {
        width: 70px;
        height: 70px;
    }

    .menu-nav nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 250px;
        position: absolute;
        margin-top: 70px;
        left: 0;
        background-color: #193151;
        z-index: 1;
    }

    .menu-nav nav ul.show {
        display: flex;
        flex-direction: col
    }

    .menu-nav nav ul li {
        margin-left: 0;
        margin-top: 20px;
        border-bottom: 1px solid #fff;
    }

    .menu-nav nav ul .section-menu a {
        color: #fff;
    }

    .burger-menu {
        display: flex;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        margin-top: 40%;
    }

    .line-footer {
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    .info1-footer,
    .info2-footer,
    .info3-footer {
        margin: 20px;
        align-items: center;
        text-align: center;
    }

    .info3-footer ul li {
        list-style: none;
    }

    .home-presentation {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-presentation h1 {
        font-size: 26px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .agency {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .agency-presentation {
        padding: 10px;
    }

    .agency-presentation h1 {
        font-size: 24px;
        text-align: center;
    }

    .agency div {
        width: 100%;
    }

    .prev,
    .next,
    .text {
        font-size: 18px;
    }

    .prev {
        padding-left: 0;
    }

    .logo-testimonial {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    .hover-img {
        display: flex;
        width: 100%;
        height: 200px;
    }

    #stat {
        height: 200px;
    }

    #stat h2 {
        font-size: 30px;
    }

    #stat div {
        margin-top: 5%;
    }

    #stat p {
        font-size: 20px;
    }

    #contact {
        display: block;
        width: 100%;
    }

    #message {
        width: 75%;
        height: 30px;
        background-color: #E5F4FE;
    }

    .myForm input,
    #mail {
        width: 200px;
        height: 30px;
        background-color: #E5F4FE;
    }

    #submitButton {
        margin-top: 5%;
        margin-left: 60%;
        color: #fff;
        border: #395E7F;
        background-color: #395E7F;
        border-radius: 5px;
        width: 100px;
        height: 50px;
        font-size: 15px;
    }

    .card__content {
        margin-inline: 3rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        z-index: 20;
    }

    header .logo {
        width: 70px;
        height: 70px;
    }

    .menu-nav nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 250px;
        position: absolute;
        margin-top: 70px;
        left: 0;
        background-color: #193151;
        z-index: 1;
    }

    .menu-nav nav ul.show {
        display: flex;
        flex-direction: colum
    }

    .menu-nav nav ul li {
        margin-left: 0;
        margin-top: 20px;
        border-bottom: 1px solid #fff;
    }

    .menu-nav nav ul .section-menu a {
        color: #fff;
    }

    .burger-menu {
        display: flex;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        margin-top: 60%;
    }

    .line-footer {
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    .info1-footer,
    .info2-footer,
    .info3-footer {
        margin: 20px;
        align-items: center;
        text-align: center;
    }

    .info3-footer ul li {
        list-style: none;
    }

    .home-presentation {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-presentation h1 {
        font-size: 26px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .agency {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .agency-presentation {
        padding: 10px;
    }

    .agency-presentation h1 {
        font-size: 24px;
        text-align: center;
    }

    .agency div {
        width: 100%;
    }

    .prev,
    .next,
    .text {
        font-size: 18px;
    }

    .prev {
        padding-left: 0;
    }

    .logo-testimonial {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    .card__container {
        max-width: 1120px;
    }

    .swiper-button-prev {
        left: -1rem;
    }

    .swiper-button-next {
        right: -1rem;
    }

    .container-footer {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    #form {
        margin-left: 2%;
    }
    #message {
        width: 98%;
    }
    #submitButton {
        margin-left: 66%;
    }
}
@media screen and (max-width: 375px) {
    #form {
        margin-left: 7%;
    }
    #message {
        width: 90%;
    }
    #submitButton {
        margin-left: 62%;
    }
}
@media screen and (max-width: 425px) {
    #form {
        margin-left: 15%;
    }
    #message {
        width: 88%;
    }
    #submitButton {
        margin-left: 62%;
    }
    .container-footer {
        margin-top: 45%;
    }
}
@media screen and (max-width: 1200px) {
    #form {
        margin-left: 20%;
    }
    #message {
        width: 68%;
    }
    #submitButton {
        margin-left: 55%;
    }
    .container-footer {
        margin-top: 63%;
    }
}