@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FAFAFA;
}

header .logo {
    width: 122px;
    height: 120px;
}

header .logo img {
    max-height: 100%;
    width: auto;
}


.menu-nav nav ul {
    display: flex;
    align-items: center;
}

.menu-nav nav ul li {
    list-style: none;
    margin-left: 100px;
    font-size: 20px;
}

.menu-nav nav ul .section-menu a {
    text-decoration: none;
    color: #0B1522;
}

.menu-nav nav ul li a:hover {
    text-decoration: underline;
}

.btn-contact {
    color: #fff;
    background-color: #395E7F;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-contact:hover {
    text-decoration: underline;
}


.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(42, 41, 41, 0.5), rgba(42, 41, 41, 0.5)), url("../img/woman-architect-analysing-matching-blueprints-new-building-project-sitting-desk.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-presentation {
    margin-left: 50px;
}

.home-presentation h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    line-height: 65.47px;
}

.home-presentation .home-title {
    background-color: #193151;
    border-radius: 30px;
    width: fit-content;
    padding: 10px 42px;
    margin-bottom: 40px;
}

.agency {
    display: flex;
}

.agency div {
    width: 50%;
    padding: 60px;
}

.agency-presentation h1 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 49.1px;
}

.agency-presentation p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
}

.container-img-agency {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.container-img-agency img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}


.recommandations-presentation{
    text-align: center;
}

.recommandations-presentation p {
    margin: 20px;
}

.recommandations-presentation .title1 {
    font-size: 24px;
    line-height: 32.74px;
}

.recommandations-presentation .title2 {
    font-size: 36px;
    line-height: 49.1px;
}


.slideshow-container {
    background-color: #ECF1F5;
    position: relative;
    padding: 30px;
    margin: 20px;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #000;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #989898;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.container-testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.container-testimonial .logo-testimonial {
    width: 100%;
    height: auto;
}

.container-testimonial .logo-testimonial img {
    max-width: 100%;
    height: auto;
}

.title-testimonial {
    font-family: "Esteban", serif;
    color: #395E7F;
    margin-bottom: 20px;
}

.container-footer {
    width: 100%;
    background-color: #193151;
}

.line {
    width: 3px;
    height: auto;
    background-color: #fff;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    color: #fff;
    font-size: 24px;
}

.container-footer .info1-footer,
.container-footer .info2-footer,
.container-footer .info3-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.btn-social-medias {
    margin-top: 20px;
}

.btn-social-medias a {
    color: #fff;
    font-size: 35px;
    margin-right: 10px;
}

.container-footer .info2-footer div {
    margin-bottom: 30px;
}

.contact-description a{
    color: #fff;
}


.container-footer .info3-footer .menu-footer li a {
    color: #fff;
}

.newsletter {
    margin-top: 20px;
}

.newsletter input {
    background-color: #E5F4FE;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: #E5F4FE;
}

.newsletter .submit-newsletter {
    position: absolute;
    margin-top: 2px;
    margin-left: -5px;
    padding: 5px;
    background-color: #395E7F;
    border: #395E7F;
    color: #fff;
    font-size: 20px;
}
